extends layout 

block content 
  .container.page-container
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4.mt-5.pt-5 Cookie Policy 
      p.mb-5 We gebruiken enkel functionele cookies en slaan deze alleen lokaal op jouw toestel op.