extends layout 

block content
  // page header
  header.header
    .overlay
    .header-content
      h1.header-title#countdown
      script(src='assets/js/countdown.js')
      p.header-subtitle
        | Tot de bekerfinale op 22 maart 2014
      button.btn.btn-theme-color.modal-toggle
        i.ti-control-play.text-danger
        |  Herbekijk bekerfinale 2012
  // end of page header

  // modal
  .modalBox
    .modalBox-body
      iframe.border-0(width='100%' height='100%' src='https://www.youtube-nocookie.com/embed/CHdAGFZKK7U' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  // end of modal

  // page container
  .container.page-container

    // INFO SECTIE
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4#info Info
      p.mb-5
        | Na het succes in 2012 staat Sporting Lokeren terug in de bekerfinale in 2014 tegen Zulte Waregem! Deze finale vindt plaats in het Koning Boudewijnstadion te Brussel op 22 maart om 20u30.
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5033.049760938219!2d4.330929126616101!3d50.89550340594228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c23156f92faf%3A0x8f3a85e17af194b!2sKoning%20Boudewijnstadion!5e0!3m2!1snl!2sbe!4v1669228013818!5m2!1snl!2sbe' width='100%' height='450' style='border:0;' allowfullscreen='' loading='lazy' referrerpolicy='no-referrer-when-downgrade')
        | Tickets en vervoer zijn op deze speciale website verkrijgbaar.


    // EINDE INFO SECTIE

    // TICKETS SECTIE
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4.mt-5.pt-5#tickets Tickets
      p.mb-5
        | Koop hier uw tickets voor het Koning Boudewijnstadion.
    // row
    .row.mb-5
      .col-md-6
        a.card(href='/tribune1')
          img.card-img(src='assets/imgs/stadion_tribune_1.png' alt='Layout van het Koning Boudewijnstadion')
          .card-body
            h6.card-subtitle
              | Prijs: €50
            h3.card-title
              | Tribune 1
            p
              | Overdekte zitplaatsen met een goed zicht op de spelers en het volledige veld. 
      .col-md-6
        a.card(href='/tribune2')
          img.card-img(src='assets/imgs/stadion_tribune_2.png' alt='Layout van het Koning Boudewijnstadion')
          .card-body
            h6.card-subtitle Prijs: €35
            h3.card-title
              | Tribune 2
            p
              | Overdekte zitplaatsen achter de goal. 
    // EINDE TICKETS SECTIE

    // BUSSEN SECTIE
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4.mt-5.pt-5#vervoer Vervoer
      p.mb-5
        | Reserveer hier uw parkeerplaats aan het Koning Boudewijnstadion of een bus die vertrekt van het Daknamstadion.
    // row
    .row.mb-5
      .col-md-6
        a.card(href='/auto')
          img.card-img(src='assets/imgs/parking.jpg' alt='Parking Bruparck in Brussel')
          .card-body
            h6.card-subtitle Prijs: €10
            h3.card-title
              | Met de auto
            p
              | Reserveer hier uw parkeerplaats op wandelafstand van het Koning Boudewijnstadion.
      .col-md-6
        a.card(href='/bus')
          img.card-img(src='assets/imgs/spelersbus.webp' alt='Spelersbus van Sporting Lokeren')
          .card-body
            h6.card-subtitle Prijs: €15 (heen + terug)
            h3.card-title Met de bus
            p
              | Reserveer hier uw bus vanuit het Daknamstadion en kom ruim op tijd toe in het Koning Boudewijnstadion.
    // EINDE BUSSEN SECTIE
  // end of page container
  

  

