doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="icon" href='assets/imgs/logo.png')
  title= title
  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-G521ZQV9VY')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-G521ZQV9VY');

  // font icons
  link(rel='stylesheet' href='assets/vendors/themify-icons/css/themify-icons.css')
  // Bootstrap + Dorang main styles
  link(rel='stylesheet' href='assets/css/dorang.css')
  // Google tag (gtag.js)
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-G521ZQV9VY')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-G521ZQV9VY');
  
  block head


// page navbar
nav.page-navbar(data-spy='affix' data-offset-top='10')
  ul.nav-navbar.container
    li.nav-item
      a.nav-link(href='/#')
        img(src='assets/imgs/logo.png' alt='Logo Sporting Lokeren')
    li.nav-item
      a.nav-link(href='/#info') Info
    li.nav-item
      a.nav-link(href='/#tickets') Tickets
    li.nav-item
      a.nav-link(href='/#vervoer') Vervoer
    li.nav-item
      a.nav-link(href='/#laatstenieuws') Laatste Nieuws

    if signedIn
      li.nav-item
        a.nav-link(href='/logout') Log out
    else
      li.nav-item
        a.nav-link(href='/signup') Sign Up
      li.nav-item
        a.nav-link(href='/login') Log in
   
// end of page navbar
.theme-selector
  a.spinner(href='javascript:void(0)')
    i.ti-paint-bucket
  .body
    a.light(href='javascript:void(0)')
    a.dark(href='javascript:void(0)')

block content

.cookie-overlay.p-4.d-none
  .d-flex
    .mr-3
      | Door op &quot;akkoord&quot; te klikken, ga je akkoord met onze #[a(href='/cookiepolicy') cookie policy].
  button.btn.btn-primary.mt-3.accept-cookies Akkoord


// core
script(src='assets/vendors/bootstrap/bootstrap.bundle.js')
script(src='assets/vendors/jquery/jquery-3.4.1.js')

// bootstrap affix
script(src='assets/vendors/bootstrap/bootstrap.affix.js')
// Dorang js
script(src='assets/js/dorang.js')
