extends layout

block head 
  script(type='text/javascript').
    var onloadCallback = function() {
    grecaptcha.render('recaptcha', {
    'sitekey' : '6LfPNk4jAAAAAOstsVl-cvM7tkmGbFmO_zK4ZH3N'
    });
    };

block content
  .container.page-container
   .col-md-10.col-lg-8.m-auto
    h6.title.mb-4.mt-5.pt-5 Sign Up   
    
    form(action='' method='POST').mt-5.pt-5

      input.form-control(type='text' name='name' size='100%' placeholder='Je naam' required='true')

      input.form-control(type='email' name='email' placeholder='Je email' required='true')

      input.form-control(type='number' name='age' placeholder='Je leeftijd' required='true')

      label Gender
      select.form-control(name='gender', required='')
        option Man
        option Vrouw
        option Ander 
      
      input.form-control(type='password' name='password' placeholder='Je wachtwoord' required='true')

      label Veiligheidsvraag
      select.form-control(name='question', required='')
        option Wat is de naam van je eerste school?
        option Wat is de naam van je eerst vriend?
        option Wat is de naam van je eerste vakantiebestemming?
      
      input.form-control(type='text' name='answer' size='100%' placeholder='Je antwoord' required='true')

      #recaptcha(style= "display: flex; justify-content: center;" )

      input.form-control(type='submit' value='Sign up')

    script(src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async='' defer='')
    
    if error
      p!= error