extends layout 

block content 
  header.header
      .overlay
      .header-content
        h1.title.mb-4 Ticketverkoop

        form
          input.form-control(type='search' name='' placeholder='hit enter to search')
