extends layout 

block content 
  .container.page-container
    .col-md-10.col-lg-8.m-auto
      h6.title.mb-4.mt-5.pt-5 Ticketverkoop 

      form()
        input(type='radio' name='tribune' required='')
        label(for='Tribune 1') Tribune 1
        br
        input(type='radio' name='tribune' required='')
        label(for='Tribune 2') Tribune 2

        input.form-control(type='text' size='100%' placeholder='Je voornaam' required='')

        input.form-control(type='text' placeholder='Je familienaam' requried='')

        input.form-control(type='email' placeholder='Je email' requried='')

        input.form-control(type='text' placeholder='Je geboortedatum' required='' onfocus="this.type='date'")

        input.form-control(type='text' placeholder='Je rekeningnummer' requried='')

        input.form-control(type='hidden' required='' value='1')

        input.form-control(type='reset')
        
        input.form-control(type='submit' value='Bestel')
