<<<<<<< HEAD
extends layout 

block content 
  header.header
      .overlay
      .header-content
        h1.title.mb-4 Ticketverkoop
=======
extends layout 

block content 
  header.header
      .overlay
      .header-content
        h1.title.mb-4 Ticketverkoop
>>>>>>> 18acb480940f53e0d1b892a173262135eab798ea
  